git+https://github.com/insilichem/gaudiview.git
git+https://github.com/insilichem/bondorder.git
git+https://github.com/insilichem/dummyatoms.git
git+https://github.com/insilichem/cauchian.git
git+https://github.com/insilichem/nciplot.git
git+https://github.com/insilichem/normalmodes.git
git+https://github.com/insilichem/orbitraj.git
git+https://github.com/insilichem/plipgui.git
git+https://github.com/insilichem/popmusicgui.git
git+https://github.com/insilichem/propkagui.git
git+https://github.com/insilichem/libplume.git
git+https://github.com/insilichem/selectionwidget.git
git+https://github.com/insilichem/subalign.git
git+https://github.com/insilichem/snfg.git