git+https://github.com/insilichem/gaudiview.git
git+https://github.com/insilichem/plume_bondorder.git
git+https://github.com/insilichem/plume_dummyatoms.git
git+https://github.com/insilichem/plume_cauchian.git
git+https://github.com/insilichem/plume_nciplot.git
git+https://github.com/insilichem/plume_orbitraj.git
git+https://github.com/insilichem/plume_popmusicgui.git
git+https://github.com/insilichem/plume_propkagui.git
git+https://github.com/insilichem/libplume.git
git+https://github.com/insilichem/plume_selection.git
git+https://github.com/insilichem/plume_subalign.git
git+https://github.com/insilichem/plume_snfg.git